.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust gap between buttons as needed */
  margin-bottom: 20px; /* Space between buttons and dice images */
}

button {
  padding: 0; /* No padding to maintain square shape */
  font-size: 24px; /* Increase font size */
  margin: 15px;
  cursor: pointer;
  width: 240px; /* 3 times bigger width */
  height: 240px; /* 3 times bigger height to keep it square */
  background-color: #4ECCA3; /* Elegant, deep blue color */
  color: white; /* White text for contrast */
  border: none; /* Remove border for a cleaner look */
  border-radius: 15px; /* Rounded corners for a more elegant appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effects */
}

#badge-container {
  margin-top: 20px;
  text-align: center; /* Center the badges */
}

#badge1, #badge2, #badge3 {
  width: 100px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 5px;
  transition: transform 0.3s ease-in-out; /* Optional: add animation when displayed */
}

#badge1.show, #badge2.show, #badge3.show {
  display: inline-block; /* Make sure to display the badge */
  transform: scale(1.2); /* Optional: small animation effect */
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}
